body {
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #d8dfe2;
}

header {
    background-color: #11658b;
    width: 100%;
    height:80px;
}

.logo-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.sidebar-container {
    width: 180px;
    min-height: 100vh;
    background-color: #11658b;
    border-top: 2px solid #d8dfe2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
}

.sidebar-btn {
    width: 100%;
    height: 40px;
    border: 0px;
    cursor: pointer;
    font-size: 15px; 
    background-color: #11658b;
    color: #d8dfe2;
    font-weight: 600;
    text-align: left;
    padding: 10px 12px;
}

/*
.sidebar-btn:hover {
    filter: brightness(0.98);
}

.sidebar-btn:active,
.sidebar-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(17,101,139,0.15);
}

*/