body {
    background-color: #75C3E8;    
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(96, 96, 218),#75C3E8, white)
}

.logo-empresa {
    height: 70px;
    width: auto;
    margin-bottom: 15px;
    border-radius: 15px;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}

.login-container {
    text-align: center;
    border-radius: 30px;
    background-color: white;
    min-height: 500px;
    width: 50%;
    padding: 40px;
}

.formulario {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
}

.botonlogin {
    display: block;
    width: 25%;
    height: 60px;
    border-radius: 15px;
    border: solid 1px rgb(255, 255, 255);
    background-color: #3096c5;
    color: rgb(255, 255, 255);
    font-size: 18px;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(to right, #4242df, #75C3E8, white);

    background-size: 200% 200%;

    animation: moverFondo 5s infinite alternate;
}

@keyframes moverFondo {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

.NombreE {
    color: #7e7575;
    
}