body {
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

header {
    background-color: #11658b;
    width: 100%;
    height:80px;
}



.logo-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.layout-abajo-header {
    display: flex;
    min-height: calc(100vh - 80px);
}

.sidebar-container {
    width: 180px;
    min-height: calc(100vh - 80px);
    background-color: #498faf;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
}

.sidebar-btn {
    width: 100%;
    height: 40px;
    border: 0px;
    cursor: pointer;
    font-size: 15px; 
    background-color: #498faf;
    color: #d8dfe2;
    font-weight: 600;
    text-align: left;
    padding: 10px 12px;
}

.divisores-sidebar {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dashboard-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carrusel{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.slides {
    display: flex;
    width: 300%;
    animation: deslizar 9s infinite;
}

.slides img {
    width: 600px;
    height: 350px;
    object-fit: cover;
}

@keyframes deslizar {
    0%, 30% {
        transform: translateX(0);
    }
    33%, 63% {
        transform: translateX(-600px);
    }
    66%, 96% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0);
    }
}
/*
.sidebar-btn:hover {
    filter: brightness(0.98);
}

.sidebar-btn:active,
.sidebar-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(17,101,139,0.15);
}

*/